[run]
branch = True
source =
    pygclip
    tests

[paths]
source =
    pygclip
    .tox/*/lib/python*/site-packages/pygclip
    .tox/pypy/site-packages/pygclip

[report]
show_missing = True
exclude_lines =
    if __name__ == .__main__.:
